.App {
    text-align: center;
    background-color: #B2E7FF;
}

.App-logo {
    height:30vmin;
    pointer-events: none;
}

.App-title{
    font-family: 'Changa', g, serif;
    font-size: 56px;
}

.App-top-logo{
    font-family: 'Changa', g, serif;
    font-size: 24px;
    text-align: left;
    padding-left: 16px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-button {
    font-family: 'Changa', g, serif;
    font-size: 48px;
    height: 100px;
    width: 300px;
    background-color: #CAFF96;
    text-align: center;
}

.App-header {
    background-color: #B2E7FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
